/*--------- slider ---------*/
.slider {
	width:940px;
	margin:0 auto;
	position:relative;
	z-index:2;
	height:500px;
	overflow:visible !important;
}

.slider-bg {
	height:500px;
	background:url(/assets/template/slide-bg.jpg) repeat-x  center 0;
	border-top:1px solid #2c2a2a;
}
.items {
	display:none;
}

.pagination {
		position:absolute;
		top:551px;
		left:369px;
		display:inline-block;
		height:20px;
		width:140px;
		border:1px solid #000;
		background:url(/assets/template/pagination-bg.gif) left top repeat-x;
		border-radius:15px;
		-moz-border-radius:15px;
		-webkit-border-radius:15px;
		padding:5px 0 0 20px;		
		z-index:60;
	}
	.pagination li {
		float:left;
		padding:0 3px 0 0;
		font-size:0;
		line-height:0;
		margin:0;
		color:#252525;
		background:none !important;
	}
		.pagination a {
			display:block;
			width:15px;
			height:15px;
			background:url(/assets/template/pagination-a-bg.gif) left 0px no-repeat;
			font-size:0;
			line-height:0;
			text-decoration:none;
		}
			.pagination li.current a {
				background:url(/assets/template/pagination-a-active.gif) left 0px no-repeat;
			}

.prev {
	display:block;
	width:34px;
	height:34px;
	background:url(/assets/template/prev.png) left top repeat-x;
	position:absolute;
	z-index:15;
	bottom:-13px;
	left:436px;
}

.next {
	display:block;
	width:34px;
	height:34px;
	background:url(/assets/template/next.png) left top repeat-x;
	position:absolute;
	z-index:15;
	bottom:-13px;
	left:470px;
}
	.next:hover,
	.prev:hover {
		background-position:0 -120px;
	}
	
.play {
	display:block;
	width:45px;
	height:22px;
	background:url(/assets/template/pagination-bg.gif) left top repeat-x;
	position:absolute;
	z-index:15;
	border-radius:15px;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	top:552px;
	left:823px;
	padding:2px 0 0 0;
	text-align:center;
	color:#fff;
	text-decoration:none;
}
	.play span {
		display:none;
	}
	.play em {
		font-style:normal;
		display:block;
	}
.paused span {
	display:block;
}
.paused em {
	display:none;
}
.banner {
    overflow: hidden;
    position: absolute;
    right: 58px !important;
    top: 105px !important;
	left:auto !important;
    width: 211px;
    z-index: 15;
}

.banner-head {
	text-transform:uppercase;
	color:#fff;
	font-size:16px;
	padding:15px 10px 16px 23px;
	border-radius:5px 5px 0 0 ;
    -webkit-border-radius:5px 5px 0 0;
	background:url(/assets/template/banner-head.gif) repeat-x 0 bottom #43443e;
}

.banner-box {
	background:#2b2c28;
	color:#9b9b9b;
	padding:14px 14px 14px 20px;
	font-size:16px;
	line-height:22px;
}

.button1 {
	text-transform:uppercase;
	color:#fefefe;
	background:url(/assets/template/button1.gif) repeat-x 0 0 #193000;
	display:inline-block;
	border-radius:0 0 0 5px;
    -webkit-border-radius:0 0 0 5px;
	font-size:16px;
	float:left;
	width:105px;
	text-align:center;
	margin-right:1px;
	text-shadow:0 -1px 1px #2f4201;
	padding:10px;
	line-height:20px;
	padding:9px 0px 10px;
}

.button1:hover {
	background:#42433c;
	text-decoration:none;
	text-shadow:0 -1px 1px #373832;
}

.p6 {
	border-radius:0 0 5px 0 !important;
	margin-right:0 !important;
    -webkit-border-radius:0 0 5px 0 !important;
	
}

.button-box {
	background:#4b5e2e;
	border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
}


.progbar {
	background:#000;
	width:100%;
	height:2px;
	position:absolute;
	top:0px;
	left:0px;
	z-index:999;
}
.numStatus {
	display:block;
	width:45px;
	height:22px;
	background:url(/assets/template/pagination-bg.gif) left top repeat-x;
	position:absolute;
	z-index:15;
	border-radius:15px;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	top:551px;
	left:583px;
	padding:2px 0 0 0;
	text-align:center;
	color:#fff;
	text-decoration:none;
}
/*-------- end slider -----------*/

.col-1 {
	float:left;
	width:400px;
	padding-right:50px
}
* + html .min {
	min-height:45px;
}
.col-2 {
	float:left;
	width:400px;
}
/*-------- end preset -------*/