*+html{overflow:auto;}
.pro_layouts-nav li a,dl.def-list dt span,#pro_intro-box,.pro_social_icons,#pro_slider .pro_pagination,.pro_numStatus,.pro_kwicks li,.pro_menu ul,.pro_menu ul ul{behavior:url(/assets/template/PIE.htc)}
#advanced ul li.trigger_adv > span,dl#pro_accordion dt,.button,input[type="text"],input[type=password],textarea,.pro_btn,.pro_description-light,.pro_exampletip,.pro_description-dark,.pro_success,.pro_warning,.pro_danger,.pro_inf,.pro_elements-list  code,.pro_table-bordered,.pro_table-bordered tr th,.pro_table-bordered tr td,.pro_info,.pro_layouts-menu li a,.pro_icons-menu li a,.pro_structuce,.pro_struct,.pro_struct2,.pro_struct-main,.pro_grid-box,.pro_tab-content,.pro_image_style2 img,.pro_image_style3 img, .pro_image_style3, .pro_text-shadow, .pro_lifted,.pro_curled,.pro_perspective,.pro_raised,.pro_curved-vt-2,.pro_curved-hz-2,.pro_image_round,.pro_image_card,.pro_image_embossed,.pro_image_soft-embossed,.pro_image_cut_out,.pro_image_morphing_glowing,.pro_image_glossy,.pro_image_glossy span,.pro_image_reflection span,.pro_splitter li div,.pro_splitter li li a,.pro_splitter li li.selected-1 a,.pro_splitter li li.selected-2 a,.pro_splitter li li.selected-0 a,.pro_splitter li li.last a,.pro_icon,.pro_icon_social,.pro_range_slider,.handle,.range,.flickr_badge_image a,.flickr_badge_image a img,.tweet_list li,#pro_constuction-box .pro_inside,.pro_tabs-nav li a,.pro_slide-down-box dt,.pro_slide-down-box dd,dl#pro_accordion dt a,dl#pro_accordion dt.active a,.pro_testim_buttons a,#pro_prev_testim,#pro_next_testim,.pro_description-box dd,code.pro_small-box-code,code.pro_small-box-code2,#pro_choices li.active, #pro_funct_caption,#pro_show, #pro_show1,.pro_quotes_2,.pro_style_1,.pro_style_2,.pro_style_3,.pro_style_4,.pro_menu li a,#pro_constuction-box,.pro_code-box
{behavior:url(/assets/template/PIE.htc);position:relative}

.pro_image_style3{ border:1px solid #000; padding:3px;}
#pro_boxes-filter .pro_image_style3,#pro_boxes-filter .pro_image_style3 img,#pro_dialog3 input{ border-radius:0;}
.pro_perspective:before{box-shadow:0px 0 8px rgba(0, 0, 0, 0.4);}
.pro_progress{filter:alpha(opacity=60)}
.pro_kwicks:hover li img{filter:alpha(opacity=40)}
.pro_kwicks:hover li:hover img{filter:alpha(opacity=100)}
.pro_button1,.pro_button2,.pro_play{bottom:35px;}
.pro_button2{ left:512px;}
.pro_gallery_bg,.pro_kwicks-wrapper,#pro_slider,#pro_show1,#pro_show{padding:5px;border:1px solid #000;}
.pro_img-pags li.active a,.pro_img-pags li a:hover{ border:1px solid #000;padding:4px;}
.pro_img-pags li a img{filter:alpha(opacity=60)}
.pro_img-pags li.active a img,.pro_img-pags li a:hover img{filter:alpha(opacity=100)}
#advanced span.trigger strong{filter:alpha(opacity=0);}
#advanced.closed span.trigger strong{filter:alpha(opacity=100);}
#pro_testimonials>div{ background:none !important;}
.pro_icons_social2 li.last {margin-top:-2px;}
.pro_icons.social li.last {margin-top: -3px;}

.button1,
.p6,
.button-box,
.banner-head,
nav {behavior:url(/assets/template/PIE.htc);position:relative}

