body{
	background:#171515;
	font:16px "Times New Roman", Times, serif;
	color:#4d4b4b;
	position:relative;
	min-width:980px;
}
html,body{height:100%;}
p{padding-bottom:18px;}
a{color:#c78d27;outline:none;cursor:pointer;text-decoration:none;}
a:hover{text-decoration:underline}
/*  Header styles */
h1,h2,h3,h4,h5,h6{line-height:1.3em;color:#fff;font-family:"Times New Roman", Times, serif; text-transform:uppercase; font-weight:normal; margin-bottom:10px;}
h1{font-size:35px;}
h2{font-size:30px;}
h3{font-size:25px;} 
h4{font-size:20px;}  
h5{font-size:15px;}
h6{font-size:12px;}
/* Global Structure---------------------------------------- */
/*----- txt,links,lines,titles -----*/
.extra-wrap{overflow:hidden;display:block;}
.fleft{float:left}
.fright{float:right}
.alignright{text-align:right}
.aligncenter{text-align:center}
.alignmiddle *{vertical-align:middle}
.color1{color:#ff2100;}

.main {
	width:960px; 	
	padding:0;
	margin:0 auto;
}

.wrapper {width:100%; overflow:hidden;}
 
.p1 {margin-bottom:8px;}
.p3 {margin-bottom:30px;}
.p4 {margin-bottom:40px;}
.p5 {margin-bottom:50px;}

.reg {text-transform:uppercase;}

.title {margin-bottom:18px;}

.it {font-style:italic;}

.letter {letter-spacing:-1px;}

/*********************************boxes**********************************/
.margin-bot {margin-bottom:35px !important;}

.spacing {margin-right:35px;}

.indent {padding:0 0 0px 30px;}
.indent2 {padding-left:50px;}
.indent-bot {margin-bottom:20px;}
.indent-bot2 {margin-bottom:30px;}
.indent-bot3 {margin-bottom:45px;}

.img-indent-bot {margin-bottom:25px;}
.img-indent {float:left; margin:0 20px 0px 0;}	
.img-indent2 {float:left; margin:0 13px 0px 0;}	
.img-indent-r {float:right; margin:0 0px 0px 40px;}	

.prev-indent-bot {margin-bottom:10px;}	

.buttons a:hover {cursor:pointer;}
.clear {
 clear: both;
 display: block;
 overflow: hidden;
 visibility: hidden;
 width: 0;
 height: 0;
}

.bg {
	background:#171515;
}

.logo {
  display:block; 
	width:276px; 
	height:115px;
	position:relative;
	float:left;
	left:-7px;
	text-indent:-5000px; 
	background:url(/assets/template/logo.png) 0 0 no-repeat;
}

.text1 {
	display:inline-block;
	text-transform:uppercase;
	color:#5a5d54;
	font-size:14px;
	padding-top:81px;
	font-family:"Times New Roman", Times, serif;
	line-height:17px;
	float:left;
}



/*********************************header*************************************/
header {
	width:100%;
	background:url(/assets/template/headr-bg.gif) no-repeat center 0;
	position:relative; 
	z-index:2;
	padding-top:32px;
	padding-bottom:14px;
}

#page1 header {
	padding-bottom:0;
}

#page1 header .main {
	padding-bottom:14px;
}


.main_h2 {	
	letter-spacing:-1px;
margin-bottom:31px;	
}

.p10 {
	border-bottom:1px solid #3d3c3c;
	letter-spacing:-2px;
	margin-bottom:40px;
	padding-bottom:9px;
}
	

.head-box1 {
    margin-right: 9px;
    overflow: hidden;
    padding-top: 44px;
}

#search-form {
    float: right;
    height: 29px;
    margin-bottom: 11px;
    position: relative;
	font-family:"Times New Roman", Times, serif;
    width: 186px;
	margin-right: 1px;
}

#search-form input {
    background: none;
    border: 1px solid #3C3938;
    color: #CECECE;
    outline: medium none;
    padding: 6px 29px 5px 10px;
    width: 145px;
}

#search-form a {	
	background:url(/assets/template/search-marker.png) no-repeat 0 0;
	height: 11px;
    position: absolute;
    right: 13px;
    top: 9px;
    width: 11px;

}

#search-form a:hover {
	background-position:0 -62px;
}

.list1 a {
	text-transform:uppercase;
	color:#4d4b4b;
	font-family:"Times New Roman", Times, serif;
	font-size:12px;
}

.list1 a:hover {
	color:#c78d27;
}

.list1 li {
	display:inline-block;
	line-height:15px;
	padding-left: 6px;
    padding-right: 7px;
	background:url(/assets/template/divider1.gif) no-repeat right 3px;
}

.list1 {
	float:right;
}

.last1 {
	background:none !important;
	padding-right:0 !important;
}

.head-box2 {
	overflow:hidden;
	margin-bottom:14px;
}

/*** MENU ***/
.sf-menu, .sf-menu * {
	margin:			0;
	padding:		0;
	list-style:		none;
}
.sf-menu {
	line-height:	1.0;
}
.sf-menu li {
	float:			left;
	position:		relative;
	width:158px;
	text-align:center;
	background:url(/assets/template/menu-bg.gif) repeat-x 0 0 #182f00;
}
nav {
	margin-left:10px;
	box-shadow:0 1px 1px #151313;
	width:940px;
}
.sf-menu a {
	display:		block;
	position:		relative;
	text-transform:uppercase;
	font-size:18px;
	font-family:"Times New Roman", Times, serif;
	padding: 30px 0 38px;
	color:#fff;
	letter-spacing: -1px;
	background:url(/assets/template/divider2.gif) repeat-y right 0;
	line-height:22px;	
}

.sf-menu > li:hover,
.sf-menu > li.active,
.sf-menu > li.sfHover {
	background:url(/assets/template/menu-bg-hov.gif) repeat-x 0 0 #172e00;
	text-decoration:none;
}

.sf-menu li:hover i,
.sf-menu li.sfHover > i {
	color:#c78d27;
}

.sf-menu li:hover .sf-sub-indicator,
.sf-menu li.sfHover > .sf-sub-indicator {
	background-position: 0 -67px;
}

.sf-menu li.active i {
	color:#9dae62;
}

.sf-menu a i {
    color: #647b14;
    display: block;
    font-size: 13px;
    font-style: normal;
    left: 0;
    letter-spacing: 0;
    line-height: 16px;
	font-family:"Times New Roman", Times, serif;
    position: absolute;
    text-align: left;
    text-transform: uppercase;
    top: 19px;
    white-space: nowrap;
}

.sf-menu a strong {
	font-weight:normal;
	display:inline-block;
	position:relative;
}

.sf-menu ul .sf-sub-indicator {
	background:none;
}

.sf-sub-indicator {
	background:url(/assets/template/sub-marker.png) no-repeat 0 0;
	left: 46%;
    position: absolute;
    top: 69px;
	width:11px;
	height:6px;
}

.last2 {
	width:150px !important;
}

.last2 a {background:none !important;}


.sf-menu ul {
	position:		absolute;
	top:			-999em;
	width:			157px; /* left offset of submenus need to match (see below) */
}

.sf-menu ul ul {
	position:		absolute;
	top:			-999em;
	min-width:		360px; /* left offset of submenus need to match (see below) */
}

.sf-menu ul ul li {
	margin-right: 2px;
    width: 151px;
	background:none;
	display:inline-block;
}

.sf-menu ul li {
	width:			100%;
	background:none;
}

.sf-menu ul a {
	background:#2b2c28;
	font-size:16px;
	line-height:20px;
	letter-spacing:0;
	padding:27px 0 28px;
}

.sf-menu ul > li > a:hover,
.sf-menu ul li.sfHover > a {
	background:url(/assets/template/menu-bg-hov2.gif) repeat-x 0 bottom #445b02;
	text-decoration:none;
}

.sf-menu ul ul a:hover,
.sf-menu ul ul li.sfHover > a {
	color:#c78d27;
	background:#2B2C28;
	text-decoration:none;
}

.sf-menu ul ul a {
	letter-spacing:1px;
}

.sf-menu li:hover {
	visibility:		inherit; /* fixes IE7 'sticky bug' */
}

.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
	left:			0;
	top:			90px; /* match top ul list item height */
	z-index:		99;
}
ul.sf-menu li:hover li ul,
ul.sf-menu li.sfHover li ul {
	top:			-999em;
}
ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul {
	left:			159px; /* match ul width */
	top:			0;
}
ul.sf-menu li li:hover li ul,
ul.sf-menu li li.sfHover li ul {
	top:			-999em;
}
ul.sf-menu li li li:hover ul,
ul.sf-menu li li li.sfHover ul {
	left:			10em; /* match ul width */
	top:			0;
}

/********************** Content ************************/

#content {
	width:100%; 
	padding: 41px 0 8px;
	position:relative;
	z-index:1;
	border-top:1px solid #2e2b2b;
}

#page1 #content {
	padding:45px 0 31px;
}

#page6 #content {
    padding: 41px 0 30px;
}


																									/***** Page 1 *****/

.button2 {
	display:inline-block;
	background:url(/assets/template/button2.gif) repeat-x 0 0 #193000;
	text-transform:uppercase;
	color:#fff;
	text-shadow:0 -2px 1px #2b3d01;
	font-size:16px;
	line-height:20px;
	padding:7px 13px;
	font-weight:bold;
	box-shadow: 0 1px 3px 1px #100f0f ;
    -webkit-box-shadow:0 1px 3px 1px #100f0f;
}

.button2:hover {
	background:#42433c;
	text-decoration:none;
}

.link1 {
    background: url("/assets/template/marker2.png") no-repeat scroll right 1px transparent;
    color: #C78D27;
    font-size: 12px;
    line-height: 15px;
    padding-bottom: 10px;
    padding-right: 38px;
    padding-top: 11px;
    position: absolute;
	z-index:999;
    right: 0;
    text-transform: uppercase;
    top: -90px;
}

.link1:hover {
	color:#fff;
	text-decoration:none;
}

.page1-box1 {
	text-align:center;
	padding-bottom:5px;
	width:100%;
	position:relative;
}

.page1-box1 strong {
	text-transform:uppercase;
	color:#989c8e;
	font-weight:bold;
	line-height:29px;
	letter-spacing: -1px;
	font-size:24px;
	display:block;
	margin-bottom: 11px;
}

.page1-img1 {
	margin-bottom:22px;
}

.p7 {
	padding-bottom:22px;
}

.heading-after {
	display:block;
	background:#353333;
	height:1px;
	position:absolute;
	right:0;
	bottom:21px;
}

.posrel {
	position:relative;
}

.next1 {
	background:url(/assets/template/prev1.png) no-repeat 0 0 ;
	position:absolute;
	right: 37px;
    top: -70px;
	display:block;
	width:36px;
	height:36px;
}

.prev1 {
	background:url(/assets/template/next1.png) no-repeat 0 0 ;
	position:absolute;
	right: 1px;
    top: -70px;
	display:block;
	width:36px;
	height:36px;
}
.prev1:hover,
.next1:hover {
	background-position:0 -68px;
}

.heading-before {
	display:block;
	background:#353333;
	height:1px;
	position:absolute;
	left:0;
	bottom:21px;
}

.text2 {
	display:inline-block;
	text-transform:uppercase;
	font-size:24px;
	font-weight:bold;
	margin-right:3px;
	margin-bottom:10px;
	letter-spacing:-1px;
	color:#c78d27;
	line-height:29px;
}


.text3 {
	display:inline-block;
	text-transform:uppercase;
	font-size:24px;
	font-weight:bold;
	letter-spacing:-1px;
	color:#989c8e;
	line-height:29px;
}

.page1-box2 {
	overflow:hidden;
	color:#4d4b4b;
	font-size:22px;
	padding-top:1px;
	line-height:28px;
}

.text4 {
	display:inline-block;
	font-size:18px;
	line-height:22px;
	margin-top:-13px;
}

.text5 {
    color: #989C8E;
    display: inline-block;
    font-size: 14px;
    line-height: 17px;
    margin-left: 11px;
    margin-top: -10px;
}

.p8 {
	margin-bottom:71px
}

.button3 {
    background: url("/assets/template/button3.png") no-repeat scroll 0 0 transparent;
    color: #FFFFFF;
    display: inline-block;
    font-size: 22px;
    font-weight: bold;
    height: 86px;
    letter-spacing: -1px;
	float:left;
	position:relative;
	z-index:999;
    line-height: 18px;
    padding-top: 50px;
    text-align: center;
    text-shadow: 0 -1px 1px #B58023;
    text-transform: uppercase;
    width: 136px;
}

.button3:hover {
	background-position:0 -200px;
	color:#343530;
	text-shadow: 0 -1px 1px #c3c6bd;
	text-decoration:none;
}


.button4:hover {
	background-position:0 -200px;
	color:#343530;
	text-shadow: 0 -1px 1px #c3c6bd;
	text-decoration:none;
	z-index:99999999;
}

.button4 {
    background: url("/assets/template/button3.png") no-repeat scroll 0 -0px transparent;
    color:#FFFFFF;
	text-shadow: 0 -1px 1px #c3c6bd;
    display: inline-block;
    font-size: 22px;
    font-weight: bold;
    height: 86px;
	position:relative;
	z-index:9;
    letter-spacing: -1px;
	float:left;
    line-height: 18px;
	margin-left: -21px;
    padding-top: 50px;
    text-align: center;    
    text-transform: uppercase;
    width: 136px;
}

.page1-box3 {
	overflow:hidden;
	padding-left:49px;
}

.p9 {
	border-bottom:1px solid #363434;
	padding-bottom:22px;
	margin-bottom: 43px;
}

.list2 a {
	color:#c78d27;
	font-size:16px;	
	font-style:italic;
}

.list2 a:hover {
	color:#fff;
	text-decoration:none;
}

.list2 li {
	display:block;
	line-height:20px;
	padding-left:37px;
	background:url(/assets/template/marker3.png) no-repeat 0 0 ;	
	padding-bottom:10px;
}

.list2 {
	padding-top:7px;
	margin-bottom:32px;
}

.page1-box4 {
	overflow:hidden;
}

.page1-box5 {
	overflow:hidden;
	padding-top:9px;
	width:460px;
}



.inner1 {
    background: url("/assets/template/marker5.png") no-repeat scroll 0 0 transparent;
    color: #FFFFFF;
    font-size: 40px;
    font-weight: bold;
    height: 104px;
    letter-spacing: -2px;
    line-height: 48px;
	float:left;
	margin-right:17px;
    padding-top: 23px;
    text-align: center;
    width: 103px;
}

.inner1 span {
	font-weight:normal;
	text-transform:uppercase;
	display:block;
	font-size:14px;
	line-height:17px;
	letter-spacing:0;
	margin-top:-9px;
}

.link2 {
	text-transform:uppercase;
	color:#989c8e;
	font-size:14px;
	display:inline-block;
	line-height:17px;
}

.link2:hover {
	text-decoration:none;
	color:#c78d27;
}

.page1-box5 .extra-wrap {
	padding-top:8px;
	line-height:22px;
}

.page1-box5 .extra-wrap p {
	margin-top:-3px;
}

.p11 {
	padding-top:4px !important;	 
}

.page1-img2 {
	margin-right:7px;
	float:left;
}

.p12 {
	margin-right:0 !important;
}



																									/***** Page 2 *****/

.page2-box1 {
	overflow:hidden;
	padding-bottom:5px;
}

.p13 {
	padding-bottom:20px;
}

.p14 {
	margin-bottom: 37px;
}

.p15 {
	padding-bottom:21px;
}

.page2-img1 {
	margin-top:4px;
}

.p16 {
	padding-bottom:78px;
	margin-bottom: 52px;
	border-bottom:1px solid #363434;
}

.page2-img2 {
	float:left;
	margin-right:19px;
}

.page2-box2 {
	overflow:hidden;
	padding-top:2px;
	margin-bottom: 4px;
}

.page2-box2 .link2 {
    line-height: 22px;
    margin-top: 10px;
}

.page2-box2 p {
	line-height:22px;
}

.p17 {
	padding-bottom:67px;
	margin-bottom: 52px;
	border-bottom:1px solid #363434;
}

.page2-box3 {
	padding-top:2px;
}


.page2-img3 {
	margin-bottom:17px;
}

																									/***** Page 3 *****/

.page3-box1 {
    margin-bottom: 10px;
    overflow: hidden;
}

.page3-img1 {
    float: left;
    margin-right: 16px;
    margin-top: 7px;
}


.link3 {
    color: #989C8E;
    display: inline-block;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 6px;
    text-transform: uppercase;
}

.link3:hover {
	text-decoration:none;
	color:#c78d27;
}

.p18 {
	margin-bottom:34px;
}

.p19 {
	padding-bottom:52px;
	margin-bottom: 44px;
	border-bottom:1px solid #363434;
}

.link4 {
    color: #989C8E;
    display: inline-block;
    font-size: 16px;
    line-height: 21px;
    text-transform: uppercase;
}

.link4:hover {
	text-decoration:none;
	color:#c78d27;
}

.p20 {
	padding-bottom:15px;
}

.p21 {
	padding-right:66px;
}

.p22 {
	margin-bottom:79px;
	position:relative;
}

.p31 {
	right: 10px;
    top: -1px;
}

.p23 {
	margin-bottom:19px;
}
																									/***** Page 5 *****/

.page5-box1 {
	overflow:hidden;
}

.link5 {
	color:#c78d27;
}

.link5:hover {
	color:#fff;
	text-decoration:none;
}

.p24 {
	margin-right:20px;
}

.p25 {
	margin-bottom:21px;
}

.inner3 {
	overflow:hidden;
	margin-bottom:12px;
}

.page5-img1 {
	margin-top:4px;
	margin-right:18px;
	float:left;
}

.page5-img1 img {
	width:300px;
	height:259px;
}

.pager {
	margin-bottom: 27px;
}

.page5-box2 {
	overflow:hidden;
}

#nav a {
	color:#c78d27;
	margin-right:9px;
	display:inline-block;
	font-size:12px;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	line-height:15px;
	text-decoration:underline;
}

#nav a:hover {
	color:#fff;
	text-decoration:none;
}

.activeSlide {
	color:#fff !important;
	text-decoration:none !important;
}

#nav {
	margin-bottom:16px;
}

.p26 {
	margin-bottom:33px;
}

.p28 {
	margin-bottom:36px;
}

.page6-img1 {
	margin-bottom:25px;
}

.page7-box1 span {
	color:#989c8e;
}

.page7-box1 strong {
	color:#c78d27;
	font-weight:normal;
}

.page7-box1 {
	overflow:hidden;
	margin-bottom:21px;
}

.dl1 dt {width:162px;margin-bottom: 21px; color:#989c8e;}

.dl1 span {float:left; width:110px;}

.dl1 dd { line-height:21px;}

.dl1 dd a,
.page7-box1 a {color:#c78d27; text-decoration:underline;}

.dl1 dd a:hover,
.page7-box1 a:hover {color:#fff; text-decoration:none;}
	
/******************** Footer ******************/
footer {
	width:100%; 
	padding:32px 0 32px;
	font-family:"Times New Roman", Times, serif;
	border-top:1px solid #373535;
}

.page-foot {
	overflow:hidden;
	margin-left:10px;
	float:left;
	font-size:12px;
	line-height:15px;
	padding-top:2px;
}

.inner-foot {
	padding-top:5px;
	float:left;
	font-family:"Times New Roman", Times, serif;
}

.page-foot span {
    color: #FBF7ED;
    display: inline-block;
    float: left;
    font-size: 18px;
    line-height: 22px;
	font-family:"Times New Roman", Times, serif;
    margin-right: 6px;
    text-transform: uppercase;
}

.page-foot a {
	color:#c78d27;
	font-family:"Times New Roman", Times, serif;
	text-transform:uppercase;
}

.page-foot a:hover {
	color:#fff;	
	text-decoration:none;
}

.text6 {
    color: #4D4B4B;
    display: block;
    float: right;
    font-size: 12px;
    line-height: 15px;
	font-family:"Times New Roman", Times, serif;
    padding-right: 3px;
    padding-top: 7px;
    text-transform: uppercase;
}

.social-links li {float:left;margin-left: 6px;}

.social-links {
	float:right;
	margin-right:10px;	
}

.social-links li a {
    height:28px;
	width:28px;
	display:block;	
}

.foot {
	text-align:center;
}

.social-links li a.link-1 {background:url(/assets/template/soc-link1.png) no-repeat 0 top;}
.social-links li a.link-2 {background:url(/assets/template/soc-link2.png) no-repeat 0 top;}
.social-links li a.link-3 {background:url(/assets/template/soc-link3.png) no-repeat 0 top;}
.social-links li a.link-4 {background:url(/assets/template/soc-link4.png) no-repeat 0 top;}
.social-links li a.link-5 {background:url(/assets/template/soc-link5.png) no-repeat 0 top;}

.social-links li a.link-1:hover,
.social-links li a.link-4:hover,
.social-links li a.link-5:hover,
.social-links li a.link-3:hover,
.social-links li a.link-2:hover  {background-position:0 -64px;}