<div class="main">
  <div class="page-foot">
    <span>Café das Matas</span><div class="inner-foot">&copy; 2012 | desenvolvidor por <%= mail_to 'rodrigo@rtoledo.inf.br', 'rodrigo toledo', encode: 'hex' %></div>
  </div>            
  <ul class="social-links">                  
    <li><a href="#" class="link-1" title="Twitter"></a></li>
    <li><a href="#" class="link-2" title="Facebook"></a></li>
    <li><a href="#" class="link-5" title="Google+"></a></li>
  </ul>
  <span class="text6">Nos encontre em:</span>
  <div class="foot"><!-- {%FOOTER_LINK} --></div>
  <div class="clear"></div>
</div>