/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require template/reset
 *= require template/pro_pages_style
 *= require template/grid
 *= require template/forms
 *= require template/prettyPhoto
 *= require template/jquery.snippet.min
 *= require template/skin/blue.monday/jplayer.blue.monday
 *= require template/smoothness/jquery-ui-1.8.17.custom
 *= require template/ui.totop
 *= require template/style
 *= require template/demo
 */
 
.pr{
  position: relative;
}
#page1 header{
  padding-top: 0px
}