<div class="wrapper">
  <article class="grid_6">
    <h2 class="main_h2 p10">Estamos localizados em</h2>
    <figure class="page6-img1">
      <img src="http://maps.googleapis.com/maps/api/staticmap?size=460x259&zoom=16&center=Rua+Geraldo+Alves+Pinto+Caratinga+MG&sensor=false">
    </figure>
    <div class="clear"></div>
    <dl class="dl1">
      <dt>The Company Name Inc. 8901 Marmora Road, Glasgow, D04 89GR.</dt>
      <dd><span>Freephone:</span>   +1 800 559 6580</dd>                                        
      <dd><span>Telephone:</span>   +1 800 603 6035</dd> 
      <dd><span>FAX:</span>   +1 800 889 9898</dd>                                
      <dd>E-mail: <%= mail_to 'contato@cafedasmatas.com.br', 'contato@cafedasmatas.com.br', encoding: :hex %></dd>
    </dl> 
  </article>
  <article class="grid_6">
    <h2 class="main_h2 p10">Ou nos envie uma mensagem</h2>
    <%= form_for @talk_to_us, url: send_talk_to_us_path, html: {id: 'form1'} do |f| %>
    <%= f.error_messages %>
    <div class="success">Contato enviado com sucesso!<strong> Entraremos em contato em breve.</strong></div>
    <fieldset>

      <label class="name">
        <%= f.text_field :name, value: f.object.name || 'Nome:' %>
        <span class="error">*Valor inválido, favor trocar</span> <span class="empty">*Campo obrigatório.</span> 
      </label>                                        
      <label class="email">
        <%= f.text_field :email, value: f.object.email || 'E-mail:' %>
        <span class="error">*Valor inválido, favor trocar</span> <span class="empty">*Campo obrigatório.</span> 
      </label> 
      <label class="message">
        <%= f.text_area :message, value: f.object.message || 'Mensagem:' %>
        <span class="error">*Conteúdo muito curto, nos dê mais informações.</span> <span class="empty">*Campo obrigatório.</span>
      </label>
      <div class="clear"></div>
      <div class="link-form">
        <a class="button2" href="#" data-type="submit">Enviar</a> 
      </div>                      
    </fieldset>           
    <% end -%>
  </article>
</div>
